################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataMatrix
/DataMatrix/DataMatrix.csproj
/DataMatrix/obj
/DataMatrix/bin/Debug/net9.0
/DataMatrix.Test/bin/Debug/net9.0
/DataMatrix.Test/obj
/.vs/ProjectEvaluation
/DataMatrix/bin/Release/net9.0
/DataMatrix.Test/bin/Release/net9.0
